.item{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 500px;
  margin: 10px;
}

.item-description{
  //background-color: blue;
  min-height: 200px;
  max-height: 200px;

}

.item-description-text{
  min-height: 200px;
  max-height: 200px;
}

.item-purchase{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button{
    background-color: rgba(156, 39, 9, 0.562);
  }
}


hr {
  border-style: dashed;
}
