.item{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin: 10px;
}

.item-description{
  //background-color: blue;
}

.item-purchase{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-addItem{

}


hr {
  border-style: dashed;
}
