<div ngClass="item">
  <img src={{item.imageUrl}} alt={{item.name}}>
  <div ngClass="item-description">
    <span>
      <h3>{{item.name}}</h3>
    </span>
    <hr>
    <span ngClass="item-description-text">
      <p>{{item.description}}</p>
    </span>
    <div ngClass="item-purchase">
      <span>
        <p>$ {{item.price}}</p>
      </span>
      <button ngClass="button-addItem" mat-raised-button color="primary" (click)="addToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
        Add to cart
      </button>
    </div>
  </div>
</div>
