.shopping-cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.cart-items-container {
  width: 70%;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item-price {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-quantity button {
  background-color: transparent;
}

.cart-item-quantity div {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 10px;
}
