<mat-toolbar>
  <div class="logo">
    <a routerLink="/">
      <!-- <mat-icon>local_cafe</mat-icon> -->
      <img src="../../../assets/Sofkafe.png" alt="logo" loading="lazy">
    </a>
  </div>

  <div class="center">
    <a mat-tab-link routerLink="/main/items">Our Products</a>
    <a mat-tab-link routerLink="/main/places">Our Places</a>
    <a mat-tab-link routerLink="/main/about-us">About Us</a>
  </div>

  <div class="right">
    <div ngClass="shopping-cart-container">
      <a routerLink="/shoppingcart">
        <mat-icon>shopping_cart</mat-icon>
      </a>
    </div>
    <div ngClass="login-button">
    <button *ngIf="isLoggedInn(); else notLoggedIn" mat-raised-button color="warn" routerLink="/login"
      (click)="logout()">Logout
    </button>
    <ng-template #notLoggedIn>
      <button mat-raised-button routerLink="/login">Login</button>
    </ng-template>
  </div>
  </div>
</mat-toolbar>
