<div class="not-found-container">
  <div class="logo-container">
    <a routerLink="/">
      <img src="../../../assets/SfokafeSlogan.png" alt="Logo" loading="lazy">
    </a>

  </div>
  <div class="error-container">
    <div class="error-title">
      <h1>404</h1>
      <p>Page Not Found</p>
    </div>
    <div class="error-message">
      <p>We're sorry, but the page you're looking for doesn't exist.</p>
    </div>
    <div class="home-link">
      <a routerLink="/" routerLinkActive="active">Go to Home Page</a>
    </div>
  </div>
</div>
