<!-- Code commented is from the firebase auth youtube tutorial -->

<!-- <h2>Registro de usuario</h2>
<form [formGroup]="formReg" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="text" class="form-control" formControlName="email">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <input type="submit" value="Enviar">
</form>
 -->


 <div ngClass="form-container">
  <form [formGroup]="formRegPersonalInfo" ngClass="register">
    <mat-form-field appearance="fill">
      <mat-label>Name: </mat-label>
      <input matInput type="text" placeholder="Insert name" formControlName="name" required/>
      <div *ngIf="formReg.get('name')?.hasError('required') && !formReg.get('name')?.pristine">
        Name is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Lastname: </mat-label>
      <input matInput type="text" placeholder="Insert last name" formControlName="lastname" required />
      <div *ngIf="formReg.get('lastname')?.hasError('required') && !formReg.get('lastname')?.pristine">
        Lastname is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ID number: </mat-label>
      <input matInput type="text" placeholder="Insert ID number" formControlName="idNum" required />
      <div *ngIf="formReg.get('idNum')?.hasError('required') && !formReg.get('idNum')?.pristine">
        ID number is required
      </div>
    </mat-form-field>
  </form>
</div>

<div ngClass="form-container">
  <form [formGroup]="formReg" ngClass="register">
    <mat-form-field appearance="fill">
      <mat-label>Email: </mat-label>
      <input matInput type="email" placeholder="Insert email" formControlName="email" required/>
      <div *ngIf="formReg.get('email')?.hasError('required') && !formReg.get('email')?.pristine">
        Email is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password: </mat-label>
      <input matInput type="password" placeholder="Insert password" formControlName="password" required />
      <div *ngIf="formReg.get('password')?.hasError('required') && !formReg.get('password')?.pristine">
        Password is required
      </div>
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin: 5px" [disabled]="isFormsInvalid()" (click)="onSubmit()">Register</button>
    <button mat-raised-button color="warn" style="margin: 5px" routerLink="/main">Go back</button>
  </form>
</div>

